.about-layout{
    max-width: 90%;
    margin: 0 auto;
    padding-top: 140px; 
    padding-left: 40px;
    padding-right: 40px;
}


.panel{
    background: rgba(10, 0, 30, 0.6);
    border: 1px solid var(--aqua-trans);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 40px;

    box-shadow:
    0 0 10px var(--aqua-trans),
    inset 0 0 10px rgba(0,0,0,0.5);

    backdrop-filter: blur(6px);
}


#about-me{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 40px;
    align-items: center;
}

#profile{
    display: flex;
    justify-content: center;
}

.avatar{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: linear-gradient(
        135deg,
        var(--pink),
        var(--aqua)
    );

    box-shadow:
    0 0 20px var(--pink),
    0 0 30px var(--aqua);
}


h2{
    color: var(--pink);
    margin-bottom: 20px;
    text-align: center;
}

h2::after,
h2::before{
    content: "";
    width: 30%;
    height: 2px;
    display: inline-block;
    margin: 0 10px;
}

h2::after{
    background: linear-gradient(to left, transparent, var(--aqua));
}
h2::before{
    background: linear-gradient(to right, transparent, var(--aqua));
}

.intro p{
    color: var(--aqua);
    line-height: 1.6;
    margin-bottom: 10px;
}

#skill-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.skill-card{
    padding: 20px;
    border: 1px solid var(--aqua-trans);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--aqua-trans);
}


.skill-card h3{
    color: var(--aqua);
    margin-bottom: 10px;
}

.skill-card ul{
    list-style: none;
    padding: 0;
}

.skill-card li{
    margin-bottom: 6px;
    color: white;
}


.hobby-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 15px;
}

.hobby{
    padding: 12px;
    text-align: center;

    border: 1px solid var(--pink-dark);
    border-radius: 6px;

    color: var(--aqua);

    box-shadow: 0 0 6px var(--pink-dark);

    transition: 0.3s;
}

.hobby:hover{
    color: var(--pink);
    border-color: var(--pink);

    box-shadow:
    0 0 10px var(--pink),
    0 0 20px var(--pink);
}

