:root {
  --sun-pink: rgb(255, 47, 146);
  --sun-orange: rgb(207, 89, 59);
  --sky-bottom: rgb(76, 23, 129);
  --sky-mid: rgb(50, 16, 97);
  --sky-top: rgb(7, 0, 18);
  --aqua-light: rgb(115, 235, 223);
  --aqua: rgb(0, 255, 200);
  --glass:rgba(255,255,255,0.05);
  --chrome-trans: linear-gradient(
  to bottom,
  rgb(245, 245, 245, 0.7) 0%,
  rgb(207, 207, 207, 0.7) 20%,
  rgb(255, 255, 255, 0.7) 40%,
  rgb(153, 153, 153, 0.7) 60%,
  rgb(234, 234, 234, 0.7) 80%,
  rgb(122, 122, 122, 0.7) 100%
);
 --chrome: linear-gradient(
  to bottom,
  rgb(245, 245, 245) 0%,
  rgb(207, 207, 207) 20%,
  rgb(255, 255, 255) 40%,
  rgb(153, 153, 153) 60%,
  rgb(234, 234, 234) 80%,
  rgb(122, 122, 122) 100%
);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
  z-index: 0;
  height:100vh;
  background:
    radial-gradient(circle at 20% 30%, rgba(235, 9, 137, 0.298), transparent 60%),
    radial-gradient(circle at 80% 70%, rgba(117, 255, 225, 0.25), transparent 60%),
    linear-gradient(
      to top,
      var(--sky-bottom),
      var(--sky-mid),
      var(--sky-top)
    );

  background-size: 200% 200%;
  animation:
    backgroundMovement 20s ease-in-out infinite;
}

@keyframes backgroundMovement{
  0%{background-position:0% 0%, 100% 100%, 0% 0%;}
  50%{background-position:100% 50%, 0% 50%, 0% 0%;}
  100%{background-position:0% 0%, 100% 100%, 0% 0%;}
}
