:root{
  --pink: rgb(255, 47, 146);
  --pink-dark: rgb(112, 23, 66);
  --aqua: rgb(0, 255, 200);
  --aqua-trans: rgb(0, 255, 200, 0.6);
  --aqua-dark: rgb(2, 85, 67);
  --shadow-pink-trans: rgb(255, 47, 146, 0.6);
  --sky-mid: rgb(18, 0, 43);

  --chrome-trans: linear-gradient(
  to bottom,
  rgb(245, 245, 245, 0.7) 0%,
  rgb(207, 207, 207, 0.7) 20%,
  rgb(255, 255, 255, 0.7) 40%,
  rgb(153, 153, 153, 0.7) 60%,
  rgb(234, 234, 234, 0.7) 80%,
  rgb(122, 122, 122, 0.7) 100%
);
 --chrome: linear-gradient(
  to bottom,
  rgb(245, 245, 245) 0%,
  rgb(207, 207, 207) 20%,
  rgb(255, 255, 255) 40%,
  rgb(153, 153, 153) 60%,
  rgb(234, 234, 234) 80%,
  rgb(122, 122, 122) 100%
);


}

@font-face {
  font-family:"SyntFont";
  src: url("/Fonts/BungeeShade-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"SyntFontType2";
  src: url("/Fonts/BrunoAceSC-Regular.ttf") format("truetype");
  font-weight:bolder ;
  font-style: normal;
}

*{
  font-family: "SyntFontTypr2", sans-serif; 
}

caption{
  color: var(--aqua);
}

#top-bar{
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px 0 100px;
    z-index: 1;
}
.logo {
  color:var(--pink);
  background-clip: text;
  -webkit-background-clip: text;

  font-size: 60px;

  text-shadow:0 0 20px var(--pink);
}

.a-topbar {
  display: inline-block;
  color: aqua;
  font-size: 20px;
  letter-spacing: 2px;
  transition: 0.3s;
  margin-left: 60px;
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.a-topbar:hover {
  color: var(--pink);
  text-shadow: 0 0 8px var(--pink);
  transform: scale(1.4);
}

#mid-section{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  z-index: 2;
  pointer-events: none;
}

#portrait{
  display: flex;
  align-items: center; 
}

#img-self-portrait{
  max-width: 60%;
  max-height: 60%;
  border-radius: 20px;
  box-shadow: 0 0 40px var(--pink);
  border: double 2px var(--pink);
}

#education{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 10px;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#education1 {
  -webkit-text-stroke: 2px var(--aqua);
  text-shadow: 0 0 40px var(--aqua);
}

#education2 {  
  -webkit-text-stroke: 2px var(--pink);
  text-shadow: 0 0 40px var(--pink);
}

#mid-aside{
  position: relative;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-media-left,
.social-media-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-left{
  transform: translateX(-45px);
}

.social-media-right{
  transform: translateX(45px);
}
.social-media-right::before,
.social-media-right::after,
.social-media-left::before,
.social-media-left::after {
  content: "";
  width: 2px;
  height: 275px;
  background: linear-gradient(to bottom, transparent, var(--aqua));
}
.social-media-left::after,
.social-media-right::after {
  background: linear-gradient(to top, transparent, var(--aqua));
}

.social-media-img {
  width: 100px;
}

footer{
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding:100px 100px 0 100px;
}

.footer-buttons{
  width: 90px;
  height: 70px;
  z-index: 2;

  border-radius: 20%;
  border: 2px solid var(--aqua);

  background: transparent;
  color: var(--aqua);
  font-size: 30px;

  cursor: pointer;
  box-shadow: 0 0 15px var(--aqua);
  transition: 0.3s;
}

.footer-buttons:hover{
  background: var(--aqua-trans);
  box-shadow: 0 0 55px var(--aqua);
}

#footer-center{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 50px;
}

.port-card{
  background: transparent;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 12%;
  box-shadow: 0 0 40px var(--aqua);
  border-radius: 10px;
  border: solid 2px var(--aqua);
  opacity: 70%;
  transition: 0.3s;
  overflow: hidden;
  margin-bottom: 10px;
}

.footer-img{
  width: 100%;
  object-fit: cover;
  border-bottom: solid 2px var(--aqua);
}

.card-content {
  padding: 15px;
  text-align: center;
}

.card-title {
  font-size: 26px;
  letter-spacing: 3px;
  color: var(--pink);
  text-shadow: 0 0 15px var(--pink);
  margin-bottom: 10px;
}


.port-card:hover{
  opacity: 100%;
  transform: scale(1.2);
  box-shadow: 0 0 60px var(--aqua);
}

#footer-left {
  position: relative;
}

#music-menu {
  position: absolute;
  bottom: 0px;
  right: 120%;
  padding: 10px;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  box-shadow: 0 0 40px var(--aqua);
  border: solid 2px var(--aqua);
}

.hidden-menu {
  visibility: hidden;
  transition: transform 2s ease, color 2s ease, text-shadow 2s ease;
}

.song {
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 0 40px var(--aqua);
  border: solid 2px var(--aqua);
  padding: 10px;
  margin-bottom: 10px;
  transition: transform 2s ease, color 2s ease, text-shadow 2s ease;
  color: white;
  font-size: 20px;
}

.song:hover {
  background: var(--aqua-trans);
  box-shadow: 0 0 55px var(--aqua);
}