body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

  
h1{
  display: none;
  text-decoration: underline;
}
#port{
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0;
}

.port {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: clamp(5vh, 2vw, 40px);
  max-width: 1400px;
  width: 90%;
  margin-top: 120px;
}

.port-card {
  background:linear-gradient(
    to bottom,
    rgba(255,255,255,0.03),
    rgba(0,0,0,0.35)
    );
  backdrop-filter: blur(12px);
  border: 1px solid var(--aqua);
  border-radius: 20px;
  box-shadow: 0 0 20px var(--aqua-light);
  overflow: hidden;
  transition: 0.4s ease;
}

.port-card:hover {
  transform: scale(1.08);
  box-shadow: 0 0 50px var(--aqua);
}

.port-img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  display: block;
  border-bottom: 1px solid var(--aqua);
}

.card-content {
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: clamp(18px, 1vh, 24px);
}

.card-title {
    font-size: 1.5rem;
    letter-spacing: 3px;
    align-self: center;
    color: var(--sun-pink);
    text-shadow:
    0 0 6px var(--sun-pink),
    0 0 20px var(--sun-pink),
    0 0 40px var(--sun-pink);
}

.card-row {
    display: flex;
    justify-content: space-between;
    color: var(--aqua-light);
    font-size: 0.95rem;
}

.card-row a {
    color: var(--aqua);
    text-decoration: underline;
    text-shadow:
    0 0 6px var(--aqua),
    0 0 15px var(--aqua);
    transition: 0.2s;
}

.card-row a:hover {
    color: white;
    text-shadow:
    0 0 8px white,
    0 0 20px var(--aqua);
}
.description {
    color: var(--aqua-light);
    opacity: 0.9;
    line-height: 1.4;
}

.port-card:hover {
    transform: scale(1.05) translateY(-6px);
    box-shadow:
    0 0 20px var(--aqua),
    0 0 40px var(--sun-pink),
    0 0 80px rgba(255,47,146,0.5);
}

@media (max-width: 1024px){
.port {
    grid-template-columns: 1fr;
  }

body{
  overflow: auto;
}

main{
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 8vw;
  padding: 100px 0;
  display: flex;
  text-align: center;
  color: var(--sun-pink);
  margin-bottom: 20px;

  text-shadow:
    0 0 10px var(--sun-pink),
    0 0 30px var(--sun-pink);
}


.port-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 50px var(--aqua);
}
}