:root {
  --sun-pink: rgb(255, 47, 146);
  --sun-orange: rgb(207, 89, 59);
  --sky-bottom: rgb(76, 23, 129);
  --sky-mid: rgb(50, 16, 97);
  --sky-top: rgb(7, 0, 18);
  --aqua-light: rgb(115, 235, 223);
  --aqua: rgb(0, 255, 200);
  --glass:rgba(255,255,255,0.05);
  --chrome-trans: linear-gradient(
  to bottom,
  rgb(245, 245, 245, 0.7) 0%,
  rgb(207, 207, 207, 0.7) 20%,
  rgb(255, 255, 255, 0.7) 40%,
  rgb(153, 153, 153, 0.7) 60%,
  rgb(234, 234, 234, 0.7) 80%,
  rgb(122, 122, 122, 0.7) 100%
);
 --chrome: linear-gradient(
  to bottom,
  rgb(245, 245, 245) 0%,
  rgb(207, 207, 207) 20%,
  rgb(255, 255, 255) 40%,
  rgb(153, 153, 153) 60%,
  rgb(234, 234, 234) 80%,
  rgb(122, 122, 122) 100%
);
}

body {
  min-height: 100vh;
  background:
  radial-gradient(
    circle at 50% 20%,
    rgba(255, 80, 180, 0.35),
    transparent 60%
  ),
  linear-gradient(
    to top,
    var(--sky-bottom),
    var(--sky-mid),
    var(--sky-top)
  );
}

.port {
    padding: 80px clamp(20px, 8vw, 120px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.port-card{
  background:  var(--glass);;
  backdrop-filter: blur(12px);
  border: 1px solid var(--aqua);
  border-radius: 20px;
  box-shadow: 0 0 20px var(--aqua-light);
  overflow: hidden;
  transition: 0.4s ease;
}

.port-img {
  width: 100%;
  aspect-ratio: 1024 / 1560;
  object-fit: cover;
}


.port-card table {
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

.port-card caption {
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: var(--sun-pink);
  text-shadow: 0 0 10px var(--sun-pink);
}

.port-card td a {
    color: inherit;
}

.port-card td {
    padding: 5px;
}
/*
.card-content {
  padding: 15px;
  text-align: center;
}

.card-title {
  font-size: 26px;
  letter-spacing: 3px;
  color: var(--pink);
  text-shadow: 0 0 15px var(--pink);
  margin-bottom: 10px;
}

.port-card:hover{
  opacity: 100%;
  transform: scale(1.2);
  box-shadow: 0 0 60px var(--aqua);
} */