:root{
  --pink: rgb(255, 47, 146);
  --pink-dark: rgb(112, 23, 66);
  --aqua: rgb(0, 255, 200);
  --aqua-trans: rgb(0, 255, 200, 0.6);
  --aqua-dark: rgb(2, 85, 67);
  --shadow-pink-trans: rgb(255, 47, 146, 0.6);
  --sky-mid: rgb(18, 0, 43);
}

@font-face {
  font-family:"SyntFont";
  src: url("../Fonts/BungeeShade-Regular.ttf") format("truetype");
}

@font-face {
  font-family:"SyntFontType2";
  src: url("../Fonts/BrunoAceSC-Regular.ttf") format("truetype");
}

*{
  font-family: "SyntFontType2", sans-serif; 
}

caption{
  color: var(--aqua);
}

#menu-toggle{
  display: none;
  font-size: 40px;
  color: var(--aqua);
  cursor: pointer;
}


#top-bar{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  z-index: 1000;
   background: rgba(10, 0, 40, 0.35);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid var(--aqua);

  box-shadow:
    0 0 20px var(--aqua),
    inset 0 0 20px rgba(0, 255, 200, 0.1);
}

.logo{
  color: var(--pink);
  font-size: 3vw;
  text-decoration: none;
  text-shadow:0 0 20px var(--pink);
}

#right-top{
  display: flex;
  align-items: center;
  gap: 4.5vw;
}

.a-topbar{
  display: inline-block;
  color: var(--aqua);
  font-size: 1vw;
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.a-topbar:hover{
  color: var(--pink);
  text-shadow: 0 0 8px var(--pink);
  transform: scale(1.4);
}

.a-topbar.active{

  color: var(--pink);

  text-shadow:
  0 0 10px var(--pink),
  0 0 20px var(--pink),
  0 0 40px var(--pink);

  transform: scale(1.4);
}

#lang-toggle{

  background: transparent;
  border: 2px solid var(--aqua);
  color: var(--aqua);
  padding: 6px 14px;
  font-size: 0.9vw;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
  box-shadow:
  0 0 10px var(--aqua),
  inset 0 0 10px rgba(0,255,200,0.2);
}

#lang-toggle:hover{

  color: var(--pink);
  border-color: var(--pink);
  box-shadow:
  0 0 15px var(--pink),
  inset 0 0 10px rgba(255,47,146,0.3);
  transform: scale(1.1);
}

.eng{
  display:none;
}

.sv{
  display:inline;
}

body.eng-active .eng{
  display:inline;
}

body.eng-active .sv{
  display:none;
}

@media (max-width: 1024px){
#menu-toggle{
  display: block;
}

#top-bar{
  height: 80px;
  padding: 0 20px;
}

#right-top.active{
  transform: translateY(0);
}

.logo{
    font-size: 6vw; 
    white-space: nowrap;
  }

   .a-topbar{
    font-size: 18px;
  }

 #lang-toggle{
    font-size: 16px;
  }

  #right-top{
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;

  background: rgba(10,0,40,0.6);
  backdrop-filter: blur(10px);

  border-top: 2px solid var(--aqua);

  box-shadow:
  0 0 20px var(--aqua),
  inset 0 0 20px rgba(0,255,200,0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 40px 0;
  transform: translateY(-200%);
  transition: transform 0.4s ease;
}
}

